/* .right{ border: 1px solid red; }
.left{
  
    border: 2px solid black;
    margin-top: 0px;
    
    } */
.Main{border: 1px solid teal;display: flex;background-color:whitesmoke }
/* .m2{border: 1px solid red;} */
