.maincontainer{
    background-color:#0398DC;
}

.cardnav{
    /* border:2px solid black; */
    height:32px;
    display: flex;
    margin-left: 4rem;
    margin-right: 3.5rem;
  
}
.cardnav div{
    height: 32px;
    /* border:1px solid rgb(1, 40, 214); */
    /* width: 100px; */
    margin-right: 1rem;
    color: white;
    font-size: 12px;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;

}