.MainNavbar{
    background-color:#0398DC;    
    /* border: 1px solid red; */
    
}

.container{
    /* border:1px solid black; */
    width: 90%;
    /* margin-left:3rem ;
    margin-right: 3rem; */
    display: flex;
    justify-content: space-between;
    margin: auto;
    color: white;
   
}

.logomenu{

    /* border: 1px solid rgb(0, 0, 0); */
    width: 55%;
    justify-content: space-between;
    display: flex
}

.hovermenu{
    /* border:1px solid  red; */
    display: flex;
}


.hovermenu>div:hover div{

    display: block;
    position: absolute;
}


li{
    list-style: none;
}

.hovermenu>div{

   margin: 5px;
   padding: 5px;
}


.submenu1{
display: none;
margin-top: 0.4rem;
background-color: white;
color: black;
width: 200px;
/* border: 1px solid black; */
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
z-index: 1;

}

.submenu1>li{
    line-height: 2.5rem;
    padding: .25rem;
}

.submenu2{
    /* float: right; */
    display: none;
    margin-top: 0.4rem;
    background-color: white;
    color: black;
    /* width: 400px; */
    height: auto;
  
    }
  li:hover{
    background-color:#b5dff3;   }


    .submenu2 >div{
        /* border:1px solid black; */
        width: 250px;
    /* padding:1rem  ; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    z-index: 1;
        background-color: white;
    }
    .submenu2>div>li{
    padding:.5rem  

    }
    .submenu2 >div>li{
        line-height: 2rem;
    }


    .logo{
        height: 48px;
        width: 138px;
        padding-top: .8rem;
        /* border: 1px solid white; */
        

    }
    .logo>img{
        height: 20px;
        width: 138px;
         
        
    }
  
















.rightmenu{
    /* width: 30%; */
    /* border: 1px solid white; */
    display: flex;
    gap:.5rem;
    /* justify-content: space-around; */
    /* margin-top:0.25rem; */
    /* padding-top: 00.25rem; */
    /* text-align: center; */
    /* margin: 5px;
    padding: 5px; */
}
.rightmenu>div{
    /* border:2px solid green; */
    /* height: 70%; */
    margin: auto;
}

.fantasyhovermenu >div{
    margin-top: .4rem;
 /* border: 1px solid #000; */
   position: absolute;
   width: 170px;
   background-color: white;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   z-index: 1;
   
  
}

.fantasyhovermenu{
    margin-top: -5px;
}

.fantasyhovermenu>div>li{
    padding: .5rem;
    line-height: 2rem;
}

.fantasyhovermenu>div~div{
    margin-left: 10rem ;
  
}

.fantasy>.fantasyhovermenu{
    display: none;
    /* position: absolute; */
    color: black;
    background: white;
}

.fantasy:hover .fantasyhovermenu{
    display: block;
}