.maincontainer{
    /* border:1px solid black; */
    padding: 2rem;
    background-color:#0398DC
 
}


.container{
    /* border:1px solid red;  */
    /* height: 146px; */
    width: 310px;
    border-radius: 10px;
    background-color: white;

    
}

.container div{
    height:auto; 
    margin-bottom:5px;
    padding-left:0.25rem;
    padding-right: 0.25rem;
}


.teams{
    /* border:1px solid rgb(8, 8, 8); */
    display: flex;
    justify-content: space-between;

}

.schedulereport{
    /* border:1px solid blue; */
    display: flex;
    gap: 1rem;
    
}
